<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Awesome Website</title>
  <meta name="description" content="Some awesome website.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="dist/css/app.css">
</head>

<body>
  {% include 'src/templates/global/header.twig' %}
  {% include 'src/templates/components/hero.twig' %}
  {% include 'src/templates/components/feature.twig' %}
  {% include 'src/templates/components/figure_01.twig' %}
  {% include 'src/templates/components/figure_02.twig' %}
  {% include 'src/templates/components/cta.twig' %}
  {% include 'src/templates/components/form.twig' %}
  {% include 'src/templates/global/footer.twig' %}
  <script src="dist/js/app.js"></script>
</body>
</html>
