.cta {
  @include global_padding;
  background: url(http://via.placeholder.com/600x400) no-repeat center center;
  background-size: cover;

  @include gt(s) {
    background: url(http://via.placeholder.com/1000x300) no-repeat center center;
    background-size: cover;
  }

  @include gt(m) {
    background: url(http://via.placeholder.com/1600x250) no-repeat center center;
    background-size: cover;
  }

  &__wrap {
    @include container($mw);
    text-align: center;
  }
}
