$feature_at: 600px;

.feature {
  @include global_padding;
  background: white;

  &__wrap {
    @include container($mw);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__item {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;

    @include gt($feature_at) {
      margin-bottom: 0;
    }

    &-image {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
}

// layout
.feature {
  &__item {
    .has-2 & {
      @include gt($feature_at) {
        width: calc(50% - 35px);
      }
    }

    .has-3 & {
      @include gt($feature_at) {
        width: calc(33.33% - 40px);
      }
    }
  }
}
