$figure_at: 600px;

.figure {
  @include global_padding;

  &__wrap {
    @include container(850px);

    @include gt($figure_at) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    display: block;
    width: 100%;
    text-align: center;

    @include gt($figure_at) {
      max-width: 260px;
      text-align: left;
    }
  }

  &__image {
    @include gt($figure_at) {
      flex: 1;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

// layouts
.figure {
  background: $bg_med;

  &__image {
    .image-is-right & {
      @include gt($figure_at) {
        order: 2;

        img {
          margin: 0 0 0 auto;
        }
      }
    }

    .image-is-left & {
      @include gt($figure_at) {
        order: 1;

        img {
          margin: 0 auto 0 0;
        }
      }
    }
  }

  &__content {
    .image-is-left & {
      @include gt($figure_at) {
        order: 2;
        padding-left: $gutter;
      }
    }

    .image-is-right & {
      @include gt($figure_at) {
        order: 1;
        padding-right: $gutter;
      }
    }
  }

  &--alt {
    background: white;
  }
}
