.form {
  @include global_padding;
  background: white;

  &__wrap {
    @include container(500px);
    text-align: center;
  }

  form {
    padding-top: 20px;
  }

  &__group {
    @include gt(m) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    > * {
      @include gt(m) {
        width: calc(50% - 15px);
      }
    }
  }

  &__field {
    label {
      display: none;
    }
  }
}
