.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55vh;
  background: url(http://via.placeholder.com/600x500) no-repeat center center;
  background-size: cover;
  margin-top: -($header_h_sm);

  @include gt(s) {
    height: 90vh;
    background: url(http://via.placeholder.com/1000x700) no-repeat center center;
    background-size: cover;
    margin-top: -($header_h_md);
  }

  @include gt(m) {
    background: url(http://via.placeholder.com/1600x650) no-repeat center center;
    background-size: cover;
    margin-top: -($header_h_lg);
  }

  &__wrap {
    @include container(500px);
    text-align: center;
  }

  &__text {
    @include gt(m) {
      font-size: 25px;
    }
  }
}
