// for image replacement
%ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Remove order/unordered list styling
%not-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;

    &:before {
      display: none;
    }
  }
}
