/**
 * Container
 *
 * Accepts:
 * - $val: {String} Max width
 *
 * Usage:
 * .thing {
 *   @include container(960px);
 * }
 */
@mixin container($val) {
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
  margin: 0 auto;

  @include gt(s) {
    max-width: $val + ($gutter * 2);
  }
}

/**
 * Global Padding
 *
 * Accepts:
 * - $val: {String} padding amount, has defaults
 *
 * Usage:
 * .thing {
 *   @include container(40px);
 * }
 */

@mixin global_padding($val: null) {
  @if ($val == null) {
    padding-top: $padding_global;
    padding-bottom: $padding_global;

    @include gt(s) {
      padding-top: $padding_global * 1.3333;
      padding-bottom: $padding_global * 1.3333;
    }

    @include gt(m) {
      padding-top: $padding_global * 1.666;
      padding-bottom: $padding_global * 1.666;
    }
  } @else {
    padding-top: $val;
    padding-bottom: $val;

    @include gt(s) {
      padding-top: $val * 1.3333;
      padding-bottom: $val * 1.3333;
    }

    @include gt(m) {
      padding-top: $val * 1.666;
      padding-bottom: $val * 1.666;
    }
  }
}
