// fonts
$serif: 'abril-text',serif;
$sans_serif: "open-sans",sans-serif;

// typography
$h1__sm: 30px;
$h1__md: 34px;
$h1__lg: 44px;

$h2__sm: 24px;
$h2__md: 34px;
$h2__lg: 55px;

$h3__sm: 18px;
$h3__md: 20px;
$h3__lg: 22px;

$h4: 20px;
$h5: 16px;
$p: 18px;

// colors
$text_color: #222;
$link_color: #222;
$menu_color: #222;

$rule: #888;
$bg_med: #f5f4f5;
$bg_dark: #d3d2d3;

// logo sizing
$logo_sm: 35px;
$logo_md: 55px;
$logo_lg: 80px;

// header height
$header_padding: 20px;
$header_h_sm: ($logo_sm + ($header_padding * 2));
$header_h_md: ($logo_md + ($header_padding * 2));
$header_h_lg: ($logo_lg + ($header_padding * 2));

// layouts
$mw: 960px;
$gutter: 20px;
$padding_global: 30px
