.btn,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  min-width: 125px;
  background: white;
  text-decoration: none;
  text-align: center;
  appearance: none;
  border-radius: 4px;
  border: 1px solid $rule;
  transition: all 0.3s ease 0s;
  padding: 14px 20px 13px;
  cursor: pointer;

  &:hover {
    background: darken(white, 4%);
  }
}
