// Normalizing styles
button, input, select, textarea {
  margin: 0;
  vertical-align: middle;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0; border: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Inputs
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="datetime-local"],
input[type="number"],
input[type="tel"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="search"],
input[type="file"],
input[type="range"],
input[id="text_inline"],
textarea, {
  display: block;
  width: 100%;
  background: white;
  border: 1px solid $rule;
  appearance: none;
  border-radius: 4px;
  outline: 0;
  padding: 10px 7px 10px 20px;
  margin-bottom: 20px;

  &:focus {
    border: 1px solid darken($rule, 10%);
  }
}

// Placeholders
::-webkit-input-placeholder {
  color: gray;
}

:-moz-placeholder {
  color: gray;
}

::-moz-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}
