@import url("https://use.typekit.net/xll4beu.css");

body {
  font-family: $sans_serif;
  color: $text_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 10px;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: $h1__sm;

  @include gt(s) {
    font-size: $h1__md;
  }

  @include gt(m) {
    font-size: $h1__lg;
  }
}

h2 {
  font-size: $h2__sm;

  @include gt(s) {
    font-size: $h2__md;
  }

  @include gt(m) {
    font-size: $h2__lg;
  }
}

h3 {
  font-size: $h3__sm;
  font-weight: 200;

  @include gt(s) {
    font-size: $h3__md;
  }

  @include gt(m) {
    font-size: $h3__lg;
  }
}

h4 {
  font-size: $h4;
  letter-spacing: 1px;
  font-weight: 300;
}

h5 {
  font-size: $h5;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: $p;
  line-height: 1.666;
  font-weight: 300;
  margin: 0 0 10px;
}

a {
  color: $link_color;
}

em, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}
