<div class="feature has-3">
  <div class="feature__wrap">
    <div class="feature__item">
      <h3 class="feature__item-title">Donec sit amet viverra</h3>
      <p class="feature__item-teaser">Pellentesque vitae gravida enim. Nam egestas diam vulputate viverra sodales.</p>
      <img class="feature__item-image" src="http://via.placeholder.com/55x55" alt="">
    </div>

    <div class="feature__item">
      <h3 class="feature__item-title">Pellentesque habitant</h3>
      <p class="feature__item-teaser"> Ut id pharetra nibh, sed viverra dui. Aliquam tincidunt nulla mi. Quisque porttitor, massa vel venenatis elementum.</p>
      <img class="feature__item-image" src="http://via.placeholder.com/55x55" alt="">
    </div>

    <div class="feature__item">
      <h3 class="feature__item-title">Nunc sit amet risus</h3>
      <p class="feature__item-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut sem a nunc molestie volutpat ut at dui.</p>
      <img class="feature__item-image" src="http://via.placeholder.com/55x55" alt="">
    </div>
  </div>
</div>
