<div class="figure image-is-right">
  <div class="figure__wrap">
    <div class="figure__content">
      <h3 class="figure__title">Lorem ipsum dolor sit amet</h3>
      <p class="figure__text">Quisque ut sem a nunc molestie volutpat ut at dui. Ut id pharetra nibh, sed viverra dui. Aliquam tincidunt nulla mi. Quisque porttitor, massa vel venenatis elementum</p>
    </div>

    <div class="figure__image">
      <img src="http://via.placeholder.com/350x300" alt="">
    </div>
  </div>
</div>
