<div class="figure figure--alt image-is-left">
  <div class="figure__wrap">
    <div class="figure__content">
      <h3 class="figure__title">Donec sit amet viverra lorem, ac laoreet purus</h3>
      <p class="figure__text">Pellentesque vitae gravida enim. Nam egestas diam vulputate viverra sodales. Nunc sit amet risus id diam tincidunt bibendum.</p>
    </div>

    <div class="figure__image">
      <img src="http://via.placeholder.com/350x300" alt="">
    </div>
  </div>
</div>
