<div class="form">
  <div class="form__wrap">
    <h3 class="">Get in Touch</h3>
    <form>
      <div class="form__group">
        <div class="form__field">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" placeholder="First Name" required>
        </div>

        <div class="form__field">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name" required>
        </div>
      </div>

      <div class="form__field">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email Address" required>
      </div>

      <input type="submit" value="Submit" class="btn form__btn">
    </form>
  </div>
</div>
