<header class="header" role="banner">
  <div class="header__wrap">
    <a class="header__logo" href="/" itemprop="url">
      <h1 itemscope itemtype="http://schema.org/Organization">Brand Name</h1>
    </a>

    {% include 'nav.twig' %}
  </div>
</header>
