<i class="menu--trigger" data-menu-trigger>
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
</i>

<nav class="menu menu--main" role="navigation" data-menu>
  <div class="menu__wrap">
    <ul class="menu__group">
      <li class="menu__item"><a href="#" title="About">About</a></li>
      <li class="menu__item"><a href="#" title="Work">Work</a></li>
      <li class="menu__item"><a href="#" title="Blog">Blog</a></li>
      <li class="menu__item"><a href="#" title="Contact">Contact</a></li>
    </ul>
  </div>
</nav>
