.footer {
  background: $bg_dark;
  padding: 20px 0 10px;

  &__wrap {
    @include container($mw);

    @include gt(m) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__meta {
    text-align: center;
    margin-bottom: 10px;

    @include gt(m) {
      width: calc(50% - 20px);

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
