.header {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: $header_h_sm;
  padding: $header_padding 0;

  + * {
    padding-top: $header_h_sm;

    @include gt(s) {
      padding-top: $header_h_md;
    }

    @include gt(m) {
      padding-top: $header_h_lg;
    }
  }

  &__wrap {
    @include container($mw);
    position: relative;

    @include gt(m) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    @extend %ir;
    display: block;
    width: 35px;
    height: 35px;
    background: url(http://via.placeholder.com/80x80) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid $rule;

    @include gt(s) {
      width: 55px;
      height: 55px;
    }

    @include gt(m) {
      width: 80px;
      height: 80px;
    }
  }
}
