.show-menu-main {
  overflow: hidden;
}

.menu {
  display: none;

  .show-menu-main & {
    display: block;
  }

  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(black, .8);
    padding: 20px 0;
    z-index: 998;
  }

  &__group {
    @extend %not-list;
  }

  &__item {
    display: inline-block;
    width: 100%;
    text-align: center;

    a {
      display: block;
      font-size: 25px;
      color: white;
      text-decoration: none;
      padding: 12px 0;
    }
  }
}

// triggers
.menu--trigger {
  display: block;
  position: absolute;
  top: 4px;
  right: $gutter;
  height: 30px;
  width: 29px;
  z-index: 999;

  div {
    display: block;
    cursor: pointer;

    .show-menu-main & {
      position: relative;
      top: -10px;
    }
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $menu_color;
    border-radius: 1px;
    z-index: 1;

    .show-menu-main & {
      background: white;
      transform: rotate(45deg) translate(-1px,1px);
    }

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      .show-menu-main & {
        transform: rotate(-45deg) translate(-7px,5px);
      }
    }

    &:nth-last-child(3) {
      .show-menu-main & {
        opacity: 0;
      }
    }
  }
}
