@include gt(m) {
  // resets
  .menu--trigger {
    display: none;
  }

  .show-menu-main {
    overflow: auto;
  }

  // lg menu
  .menu {
    display: block;

    &__wrap {
      position: static;
      display: block;
      flex: 1;
      height: auto;
      background: none;
      z-index: 998;
    }

    &__group {
      padding-left: 20px;
    }

    &__item {
      width: auto;
      text-align: right;
      padding: 0 12px;

      a {
        font-size: 16px;
        padding: 0;
      }
    }
  }
}
